@page
@model CheckYourMind.Pages.LogoutModel
@{
    ViewData["Title"] = "Выход";
}

<div class="text-center">
    <h1 class="display-4">Выход из системы</h1>
    <p>Вы успешно вышли из системы.</p>
    <a asp-page="/Index" class="btn btn-primary">Вернуться на главную</a>
</div> 